/*.App {
  text-align: center;
}*/

.App .logo {
  position: relative;
  text-align: left;
  top: 12px;
  left: 15px;
}

/*.App-header {
  height: 150px;
  padding: 20px;
  color: white;
}*/

header {
  background-color:  #666699;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
  position: relative;
  text-align: right;
  bottom: 70px;
  padding-right: 15px;
  color: white;
  font-size: 1em;
}

.song.ion-play, .song.ion-pause {
    display: none;
}

.song:hover .ion-play {
  display: block;
}

.play-pause .ion-play,
  .play-pause .ion-pause {
    display: block;
}

.song:hover .song-number {
  display: none;
}

.song.playing .ion-play {
  display: block;
}

.song.playing .ion-pause,
  .song.playing .song-number {
    display: none;
  }

.song.paused .ion-pause {
  display: block;
}

.song.paused .ion-play,
  .song.paused .song-number {
    display: none;
  }
