.background {
  position: relative;
  z-index: -1;
}

.background > img {
  max-width: 100%;
}

.landing {
  background: url(../src/assets/images/Landing_Page.jpg);
}
.hero-title {
  position: relative;
  text-align: center;
  color: white;
  font-size: 8em;
  padding-top: 10px;
  padding-bottom: 918px;
  margin-top: 0px;
  margin-bottom: 0px;
}



@media only screen and (max-width: 320px) {
  .hero-title{
    font-size: 8em;
  }
}
@media (min-width: 640px)
  .column.third {
    width: 33.3%;
}

.column {
  float: left;
  width: 33.33%;
  height: 364px;
  background: #171926
}

.point {
  position: relative;
  text-align: center;
  transform: scaleX(1) translateY(0px);
  color: white;
}

.ion-music-note, .ion-radio-waves,
  .ion-iphone {
    font-size: 10em;
    color: white;
}

p {
  font-size: 1.5em;
}
